h1 {
  text-align: left;
}
h1 span {
  background-color: rgb(111, 211, 224);
}

.topnav {
  padding: 10px;
  background: #2e3030;
  color: #2e3030;
  font-size: 25px;
}
/* 
.topnav {
  float: right;
} */
.topnav ul {
  float: right;
  list-style: none;
  margin: 0px;
  padding: 0px
}
.topnav li {
  display: inline-flex;
  padding: 0 10px;
}
.topnav a {
  text-decoration: none;
  color: rgb(111, 211, 224);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
}
.topnav a:hover {
  text-decoration: none;
}

  .header-img {
    width: 100%;
    height: 225px;
    background-image: url(https://images.unsplash.com/photo-1536259776724-8bdc8e1aba97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
  }

  * {
    box-sizing: border-box;
  }

  .box-caption {
    max-width: 300px;
    padding: 1.0rem;
    word-break: break-word;
    font-size: 1.25rem;
    background-color: rgb(111, 211, 224);
    color: #2e3030;
  }

  .box-flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    padding: .5rem;
    text-align: center;
    font-size: 1.2rem;
  
  }
  .box-flex-bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }
  h4 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 6em;
    margin-block-end: 6em;
    margin-inline-start: 17px;
    margin-inline-end: 17px;
    font-weight: bold;
}