
h1 {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  padding: 5px;
}

h1 span {
  background-color: rgba(245, 173, 229, 0.829);
  opacity: 0.9;
}

.topnav {
  padding: 2px;
  background: #000000;
  color: #f3f3f3;
  font-size: 25px;
}


.topnav ul {
  float: right;
  list-style: none;
  margin: 0px;
  padding: 0px
}
.topnav li {
  display: inline-flex;
  padding: 0 10px;
}
.topnav a {
  text-decoration: none;
  color: rgba(245, 173, 229, 0.829);
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  text-decoration: underline;
}
.topnav a:hover {
  text-decoration: none;
}

  .header-img {
    width: 100%;
    height: 255px;
    background-image: url(https://images.pexels.com/photos/671629/pexels-photo-671629.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  * {
    box-sizing: border-box;
  }

  .box-caption {
    max-width: 300px;
    padding: 1.0rem;
    word-break: break-word;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    background-color: rgb(236, 191, 139);
    opacity: 0.95;
    color: #f3f3f3;
  }

  .box-flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    padding: .5rem;
    text-align: center;
    font-size: 1.2rem;
  
  }
  .box-flex-bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }
  h4 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 6em;
    margin-block-end: 6em;
    margin-inline-start: 17px;
    margin-inline-end: 17px;
    font-weight: bold;
}


article > h5 { display: inline-block; }
article p { margin-left: 350px; }



.flex-container {
  display: flex;
  padding: 3%;
  align-items: center;

}

.flex-container1 {
  flex: 1;
  border-right: 2px solid rgba(245, 173, 229, 0.829);
  margin: 5%;
  padding-left: 10%;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  font-size: x-large;
  color: #000000;
}  

.flex-container2 {
  margin-right: 2px;
  float: right;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: medium;
  margin-right: 5px; 
} 



.flex-boxes {
  display: flex;

}

.flex-work {
  flex: 1;
  border-right: 2px solid rgba(245, 173, 229, 0.829);
  margin: 12%;
  padding-left: 5%;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  font-size: x-large;
  color: #000000;
}  



#examplebox {
  border: 2px solid rgb(111, 211, 224);
  padding: 50px;
  margin: 80px;
  background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fsocialistmodernism.com%2Fplaceholder-image%2F&psig=AOvVaw0L0ct0s92DznTqczhbbm15&ust=1648772168521000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCND2jY2J7_YCFQAAAAAdAAAAABAD);
  background-repeat: no-repeat;
  background-size: auto;
}


.flex-foot1 {
  flex: 1;
  border-right: 2px solid rgba(245, 173, 229, 0.829);
  margin: 12%;
  padding-left: 5%;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  font-size: x-large;
  color: #000000;
}  

.flex-foot2 {
  margin: 12%;
  padding-left: 5%;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: medium;
  margin-right: 5px; 
} 

#project1 {
  display: flex;
  border: 2px solid rgb(0, 0, 0);
  padding: 400px;
  margin: 80px;
  background-image: url(./assets/screenshot2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

#project2 {
  display: flex;
  border: 2px solid rgb(0, 0, 0);
  padding: 400px;
  margin: 80px;
  background-image: url(./assets/screenshot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}


footer {
  display: flex;
    flex-wrap: wrap;
  font-family: 'Raleway', sans-serif;
  font-size: medium;
  padding: 1%;
  margin: 5%;
  padding-left: 5.5%;
} 


ul {
	list-style: none;
    
   

}

li {
    font-size: medium;
}