main {
  margin-top: 2rem;
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

body { 
  padding: 0;
  background-color: rgb(255, 255, 255);
}

/* flex for the whole page  */
.container1 {
  position: absolute;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

div > span {
	opacity: 0.25;
}
#H, #C {
	opacity: 1;
	animation: flickerI 2s linear  reverse infinite;
}
#H::after {
	content: '';
	width: 150%;
	-webkit-box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
	-moz-box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
	box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
}
/* #L, #A {
	animation: flickerLG 2s linear reverse infinite;
	position: relative; */

#H::after, 
#H::before  {
	content:' ';
	width: 100px;
	height: 100px;
	background: var(--white);
	position: absolute;
	top: -50%;
	left: 100%;
	border-radius: 100%;
	opacity: 0.05;
	filter: blur(10px);
}
#H::after {
	width: 200px;
	height: 200px;
	top: -150%;
	left: -5%;
	opacity: 0.1;
	filter: blur(10px);
}
#H, #C {
	animation: flickerH 2s linear reverse infinite
}


@keyframes flickerI {
	0% {
		opacity: 0.4;
	}
	5% {
		opacity: 0.5;
	}
	10% {
		opacity: 0.6;
	}
	15% {
		opacity: 0.85;
	}
	25% {
		opacity: 0.5;
	}
	30% {
		opacity: 1;
	}
	35% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.25;
	}
	45% {
		opacity: 0.5;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: 0.85;
	}
	80% {
		opacity: 0.4;
	}
	90% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes flickerLG {
	0% {
		opacity: 0.19;
	}
	5% {
		opacity: 0.2;
	}
	10% {
		opacity: 0.25;
	}
	15% {
		opacity: 0.35;
	}
	25% {
		opacity: 0.2;
	}
	30% {
		opacity: 0.4;
	}
	35% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.25;
	}
	45% {
		opacity: 0.2;
	}
	60% {
		opacity: 0.4;
	}
	70% {
		opacity: 0.35;
	}
	80% {
		opacity: 0.4;
	}
	90% {
		opacity: 0.2;
	}
	100% {
		opacity: 0.4;
	}
}

@keyframes flickerH {
	0% {
		opacity: 0.15;
	}
	5% {
		opacity: 0.2;
	}
	10% {
		opacity: 0.12;
	}
	15% {
		opacity: 0.2;
	}
	25% {
		opacity: 0.15;
	}
	30% {
		opacity: 0.4;
	}
	35% {
		opacity: 0.05;
	}
	40% {
		opacity: 0.12;
	}
	45% {
		opacity: 0.15;
	}
	60% {
		opacity: 0.3;
	}
	70% {
		opacity: 0.2;
	}
	80% {
		opacity: 0.3;
	}
	90% {
		opacity: 0.18;
	}
	100% {
		opacity: 0.3;
	}
}

@keyframes flickerT {
	0% {
		opacity: 0.01;
	}
	5% {
		opacity: 0.05;
	}
	10% {
		opacity: 0.03;
	}
	15% {
		opacity: 0.1;
	}
	25% {
		opacity: 0.07;
	}
	30% {
		opacity: 0.1;
	}
	35% {
		opacity: 0.05;
	}
	40% {
		opacity: 0.06;
	}
	45% {
		opacity: 0.1;
	}
	60% {
		opacity: 0.;
	}
	70% {
		opacity: 0.1;
	}
	80% {
		opacity: 0.;
	}
	90% {
		opacity: 0.0;
	}
	100% {
		opacity: 0.1;
	}
}

/* Formatting for header  */
header {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: black;
}

.porthead {
  display: inline;
  position: relative;
  padding: 0px 0.6rem 0px 3.5rem;
  background-color: black;
  color: #f3f3f3;
  font-family: 'Raleway', sans-serif;
  font-size: 55px;   
}

nav {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
ul {
  list-style-type: none;
  padding: 0 2rem 0 0;
}

li {
  display: inline;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: rgba(245, 173, 229, 0.829);
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

.header-img {
  width: 100%;
  height: 15.4rem;
  margin: 0;
  background-image: url(https://images.pexels.com/photos/671629/pexels-photo-671629.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* flex headings for left of page  */
h1 {
  flex: 0 0 10%;
  color: black;
  border-right: 2px solid rgba(245, 173, 229, 0.829);
  padding: 0 1rem 0 0;
  font-family: 'Raleway', sans-serif;
}

/* Text in banner */

.box-caption {
  margin-top: 5rem;
  margin-left: 80%;
  float: right;
  color: #f3f3f3;
  max-width: 100%;
  padding: 3.0rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  background-color: rgb(236, 191, 139);
  opacity: 0.95;
}



/* About-me container */
#about-me {
  margin: 2.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  font-family: 'Raleway', sans-serif;
}

/* About Me heading on the left  */
.about-me {
  text-align: right;
}

/* about-me section to the right of heading  */
.about-div {
  flex: 0 0 70%;
   align-items: center;
   font-size: large;
   font-weight: bold;
}

/* Projects heading on the left  */
.work-header {
text-align: right;
}


/* Flex box project section  */
.flex-work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin: 0.5rem;
  max-width: 98%;
}

/* Image sizes in projects */

#image1 {
  background-image: url(".");
  height: 25rem;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

#image2{
  background-image: url("./assets/screenshot.jpg");
  height: 17rem;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#image3 {
  background-image: url("./assets/screenshot2.jpg");
  height: 17rem;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#image4 {
  background-image: url("./assets/workday.jpg");
  height: 17rem;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

#image5 {
  background-image: url("./assets/note-taker.jpg");
  height: 17rem;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.imageLarge {
  flex: 0 0 97%;
  position: relative;
  height: 25rem;
  border: 2px solid rgb(111, 211, 224);
  color: black;
  margin: auto;
}

.imageSmall {
  flex: 0 0 48%;
  position: relative;
  height: 17rem;
  border: 2px solid rgb(111, 211, 224);
  color: black;
  margin: 10px;
}

figure {
  position: relative;
  /* background-color: #84c7c6; */
  display: inline-flex;
}

h6 {
  color: black;
  /* background-color: #84c7c6; */
  font-size: 170%;
  position: relative;
}

.imageName h6,
.imageName p {
  margin: 20% auto;
} 

/* Contact me section flexbox */

#contact-me {
   display: flex;
}

/* contact-me header to the left  */
.contact-me {
  text-align: center;
}

/* Link spacing in contact me  */
ul {
  display: flex;
  padding: 2.3rem .5rem 0.3rem 10.7rem;
}

.contact-div{
  display: flex;
  flex: auto;
  justify-content: space-between;
  align-items: center;
}

.email{
padding: 0 1rem 0 0;
}

.linkedin{
padding: 0 1rem 0 7rem;
}

.github{
padding: 0 1rem 0 7rem;
}
.resume {
padding: 0 0 0 7rem;
}

/* footer */

h4 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: x-large;
  color: rgb(111, 211, 224);
}

